Package: lighttpd
Version: 1.4.29.svn-1.3~dkos50+ct1
Architecture: amd64
Maintainer: Debian lighttpd maintainers <pkg-lighttpd-maintainers@lists.alioth.debian.org>
Installed-Size: 1020
Depends: libattr1 (>= 2.4.41-1), libbz2-1.0, libc6 (>= 2.7-1), libfam0, libldap-2.4-2 (>= 2.4.7), libmemcached6 (>= 0.44), libpcre3 (>= 7.4), libssl0.9.8 (>= 0.9.8m-1), zlib1g (>= 1:1.1.4), lsb-base (>= 3.0-3), mime-support, libterm-readline-perl-perl
Suggests: openssl, rrdtool, apache2-utils
Conflicts: cherokee (<= 0.6.1-1)
Provides: httpd, httpd-cgi
Section: web
Priority: optional
Homepage: http://www.lighttpd.net
Description: A fast webserver with minimal memory footprint
 lighttpd is a small webserver and fast webserver developed with
 security in mind and a lot of features.
 It has support for
   * CGI, FastCGI and SSI
   * virtual hosts
   * URL rewriting
   * authentication (plain files, htpasswd, ldap)
   * transparent content compression
   * conditional configuration
 and configuration is straight-forward and easy.
